.classes-div {
    width: 100%;
    min-height: 61vh;
    background-color: #bbb;
    padding: 10px;
}

.modal {
    width: 90%;
    border: 2px solid;
}

.classes-nav ul {
    background-color: rgb(5, 5, 68);
    padding: 15px;
    display: flex;
    gap: 10px;
}

.classes-nav hr {
    border: 1px solid #fff;
}

.classes-main-content .ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.classes-main-content .ul .grad-btn {
    /* padding: 25px; */
    background-color: aliceblue;
    color: #000;
}

.classes-main-content .ul .grad-btn button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 20px;
}

.grade-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.grade-content a {
    color: #000;
    padding: 15px;
    background-color: #bbb;
}

.none {
    display: none;
}